.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.idea/*
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.gradle
out/

#
.gradle/
.idea/
.directory
*.class
build
out
target
grails-app/conf/application-*.yml
*.log
classes/
.asscache
.env
.env.sh
*dump.rdb
sonar
/dbMigration
postgres
dtci/exploded
dtmc/exploded
.metadata
.recommenders
RemoteSystemsTempFiles
bin


# Ignore Gradle GUI config
gradle-app.setting


# Cache of project
.gradletasknamecache
